<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>Bienvenido</title>
</head>

<body>
    <div class="row">
        <div class="col-md-7">

        </div>

        <div class="col-md-5">
            <h3 class="text-center">Iniciar Sesion</h3>
            <div class="card text-center">
                <div class="card-body">
                    <form action="sesion" method="post"> 
                        <div class="form-floating text-center">
                            <input style="text-align: center;" type="text" name="userL" id="userL" placeholder="231"
                                class="form-control mt-3">
                            <label for="nameL">Número de control:</label>
                        </div>
                        <div class="form-floating ">
                            <input style="text-align: center;" type="password" name="clave" id="clave" placeholder="**"
                                class="form-control mt-3">
                            <label for="nameL">Contraseña:</label>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary"> Acceder</button>
                        <br>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>

</body>

</html>